*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(black,#222);
}

.ppp{
    background-color: red;
    color: white;
    font-size: xx-large;
    height: 110px;
    padding-top: 15px;
    margin-bottom: 40px;
    text-align: right;
    padding-right: 10px;
    line-height:50px;
 }
 

.aa{
    height: 470PX;
    width: 70%;
    border: 5PX rgb(168, 22, 22) solid;
    color: white;
    font-size: 45px;
    text-align: right;
    padding: 10px;
    background-color:rgb(168, 22, 22) ;
    border-radius: 20PX;
    margin-left: 15%;
    margin-top: 50px;
    line-height:80px;
}




.ab{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("368441999_1377405309533091_4936628278049837682_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ac{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("368498751_319804567173476_7512606201425106986_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ad{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("368518955_317037200854215_2248743763907482036_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ae{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("368508940_1358174138185467_3714455332785792939_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ak{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.18 PM (2).jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.af{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("370430138_968627911012051_6398732835798309863_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ag{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("368398725_977907763464455_771370123512750247_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ah{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("368142790_835609667834501_6547570340213367278_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ai{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("370460241_874667970741867_8768545079464718920_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.aj{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("370477425_817416529825312_2306195796791596522_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.al{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.18 PM.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}










@media screen and (max-width:1100px)  {
    .ppp{
        height: 100PX;
        font-size: 30px;
        line-height:45px;
        padding-top: 10px;
    }

    .aa{
        font-size: 30px;
        line-height:60px;
        height: 540px;
    }

    .ab{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ac{       
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ad{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ae{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ak{
        height:648px;
        width:864;
        margin-left:8%;
    }

    .af{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ag{        
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ah{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ai{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .aj{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }


    .al{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }
}

@media screen and (max-width:800px){

    .ppp{
        height: 130PX;
        font-size: 27px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 29px;
        line-height:52px;
        height: 570px;
    }

    .ab{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ac{       
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ad{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ae{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .af{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ag{        
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ah{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ai{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .aj{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ak{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .al{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }
}

@media screen and (max-width:500px){

    .ppp{
        width:139% ;
        height: 140PX;
        font-size: 27px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 27px;
        line-height:52px;
        width:120% ;
        margin-left:7%;
        height: 560px;
    }

    .ab{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ac{       
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ad{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ae{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .af{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ag{        
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ah{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ai{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .aj{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ak{
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .al{
        height:640px;
        width:120%;
        margin-left:10%;
    }
}

@media screen and (max-width:400px){

    .ppp{
        width:147.3% ;
        height: 140PX;
        font-size: 26.5px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 25px;
        line-height:52px;
        width:130% ;
        margin-left:6%;
        height: 550px;
    }

    .ab{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ac{       
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ad{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ae{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .af{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ag{        
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ah{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ai{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .aj{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ak{
        height:400px;
        width:140%;
        margin-left:4%;
    }
}



@media screen and (max-width:350px){

    .ppp{
        width:161% ;
        height: 140PX;
        font-size: 26.5px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 26px;
        line-height:52px;
        width:147% ;
        margin-left:4%;
        height: 580px;
    }

    .ab{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ac{       
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ad{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ae{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .af{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ag{        
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ah{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ai{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .aj{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ak{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .al{
        height:600px;
        width:120%;
        margin-left:20%;
    }


}





