*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(black,#222);
}

.ppp{
    background-color: red;
    color: white;
    font-size: xx-large;
    height: 110px;
    padding-top: 15px;
    margin-bottom: 40px;
    text-align: right;
    padding-right: 10px;
    line-height:50px;
 }
 

.aa{
    height: 780PX;
    width: 70%;
    border: 5PX rgb(168, 22, 22) solid;
    color: white;
    font-size: 35px;
    text-align: right;
    padding: 10px;
    background-color:rgb(168, 22, 22) ;
    border-radius: 20PX;
    margin-left: 15%;
    margin-top: 50px;
    line-height:60px;
}

.ab{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.16.57 PM.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.ac{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.16.25 PM.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.ad{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.15 PM.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.al{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.16 PM.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.al2{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.16 PM (1).jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.al3{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.18 PM (2).jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.ae{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.18 PM (1).jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}



.ag{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("WhatsApp Image 2023-08-26 at 9.17.18 PM.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}







@media screen and (max-width:1100px)  {
    .ppp{
        height: 100PX;
        font-size: 30px;
        line-height:45px;
        padding-top: 10px;
    }

    .aa{
        font-size: 30px;
        line-height:60px;
    }

    .ab{
        height:648px;
        width:864;
        margin-left:8%;
    }

    .ac{       
        height:648px;
        width:864;
        margin-left:8%;
    }

    .ad{
        height:648px;
        width:864px;
        margin-left:8%;
    }

    .ae{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }


    .ag{        
        height:790px;
        width:592.5px;
        margin-left:20%;
    }



    .al{
        height:648px;
        width:864;
        margin-left:8%;
    }

    .al2{
        height:648px;
        width:864;
        margin-left:8%;
    }

    .al3{
        height:648px;
        width:864;
        margin-left:8%;
    }
}

@media screen and (max-width:800px){

    .ppp{
        height: 130PX;
        font-size: 27px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 29px;
        line-height:54px;
        height: 740px;
    }

    .ab{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .ac{       
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .ad{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .ae{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }


    .ag{        
        height:790px;
        width:592.5px;
        margin-left:12%;
    }




    
    .al{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    
    .al2{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    
    .al3{
        height:456px;
        width:608px;
        margin-left:11%;
    }
}

@media screen and (max-width:500px){

    .ppp{
        width:139% ;
        height: 140PX;
        font-size: 27px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 27px;
        line-height:52px;
        width:120% ;
        margin-left:7%;
    }

    .ab{
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .ac{       
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .ad{
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .ae{
        height:640px;
        width:120%;
        margin-left:10%;
    }


    .ag{        
        height:640px;
        width:120%;
        margin-left:10%;
    }


    .al{
        height:450px;
        width:135%;
        margin-left:2%;
    }


    .al2{
        height:450px;
        width:135%;
        margin-left:2%;
    }


    .al3{
        height:450px;
        width:135%;
        margin-left:2%;
    }

}

@media screen and (max-width:400px){

    .ppp{
        width:147.3% ;
        height: 140PX;
        font-size: 26.5px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 23px;
        line-height:52px;
        width:130% ;
        margin-left:6%;
    }

    .ab{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .ac{       
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .ad{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .ae{
        height:600px;
        width:110%;
        margin-left:19%;
    }


    .ag{        
        height:600px;
        width:110%;
        margin-left:19%;
    }

    
    .al{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    
    .al2{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    
    .al3{
        height:400px;
        width:140%;
        margin-left:4%;
    }
}



@media screen and (max-width:350px){

    .ppp{
        width:161% ;
        height: 140PX;
        font-size: 26.5px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 23px;
        line-height:52px;
        width:147% ;
        margin-left:4%;
    }

    .ab{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .ac{       
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .ad{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .ae{
        height:600px;
        width:120%;
        margin-left:20%;
    }


    .ag{        
        height:600px;
        width:120%;
        margin-left:20%;
    }


    .al{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .al2{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .al3{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

}





