*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(black,#222);
}

.ppp{
    background-color: red;
    color: white;
    font-size: xx-large;
    height: 110px;
    padding-top: 15px;
    margin-bottom: 40px;
    text-align: right;
    padding-right: 10px;
    line-height:50px;
 }
 

.aa{
    height: 560PX;
    width: 70%;
    border: 5PX RED solid;
    color: white;
    font-size: 25px;
    text-align: right;
    padding: 10px;
    background-color:red ;
    border-radius: 20PX;
    margin-left: 15%;
    margin-top: 50px;
    line-height:60px;
}

.ab{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("371503264_851679386342324_6575877826647395317_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ac{
    height: 790PX;
    width: 592px;
    border: 5PX RED solid;
    background-image: url("371500410_274235195392076_8855980871115589577_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 32%;
    margin-top: 50px;
}

.ad{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("371503350_979155116638838_773647871292478024_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}


.af{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("368520314_1489148938566921_7159411268403690093_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.ag{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("368557546_803151984641009_2552109178198911558_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.ah{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("368556163_868449674703084_5987950572775864675_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.ai{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("371505748_1038583000466900_8576389217294896918_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}

.aj{
    height: 790PX;
    width: 1053px;
    border: 5PX RED solid;
    background-image: url("371529702_3480208608887196_1647354468002367106_n.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20%;
    margin-top: 50px;
}





@media screen and (max-width:1100px)  {
    .ppp{
        height: 100PX;
        font-size: 30px;
        line-height:45px;
        padding-top: 10px;
    }

    .aa{
        font-size: 20px;
        line-height:45px;
        height: 480px;
    }

    .ab{
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ac{       
        height:790px;
        width:592.5px;
        margin-left:20%;
    }

    .ad{
        height:648px;
        width:864px;
        margin-left:8%;
    }



    .af{
        height:648px;
        width:864px;
        margin-left:8%;
    }

    .ag{        
        height:648px;
        width:864px;
        margin-left:8%;
    }

    .ah{
        height:648px;
        width:864px;
        margin-left:8%;
    }

    .ai{
        height:648px;
        width:864px;
        margin-left:8%;
    }

    .aj{
        height:648px;
        width:864px;
        margin-left:8%;
    }


}

@media screen and (max-width:800px){

    .ppp{
        height: 130PX;
        font-size: 27px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 19px;
        line-height:45px;
    }

    .ab{
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ac{       
        height:790px;
        width:592.5px;
        margin-left:12%;
    }

    .ad{
        height:456px;
        width:608px;
        margin-left:11%;
    }


    .af{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .ag{        
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .ah{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .ai{
        height:456px;
        width:608px;
        margin-left:11%;
    }

    .aj{
        height:456px;
        width:608px;
        margin-left:11%;
    }

}

@media screen and (max-width:500px){

    .ppp{
        width:139% ;
        height: 140PX;
        font-size: 27px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 20px;
        line-height:49px;
        width:120% ;
        margin-left:7%;
    }

    .ab{
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ac{       
        height:640px;
        width:120%;
        margin-left:10%;
    }

    .ad{
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .af{
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .ag{        
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .ah{
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .ai{
        height:450px;
        width:135%;
        margin-left:2%;
    }

    .aj{
        height:450px;
        width:135%;
        margin-left:2%;
    }

}

@media screen and (max-width:400px){

    .ppp{
        width:147.3% ;
        height: 140PX;
        font-size: 26.5px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 20px;
        line-height:48px;
        width:130% ;
        height: 510;
        margin-left:6%;
    }

    .ab{
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ac{       
        height:600px;
        width:110%;
        margin-left:19%;
    }

    .ad{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .af{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .ag{        
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .ah{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .ai{
        height:400px;
        width:140%;
        margin-left:4%;
    }

    .aj{
        height:400px;
        width:140%;
        margin-left:4%;
    }

}



@media screen and (max-width:350px){

    .ppp{
        width:161% ;
        height: 140PX;
        font-size: 26.5px;
        line-height:43px;
        padding-top: 7px;
    }

    .aa{
        font-size: 18px;
        line-height:46px;
        width:147% ;
        height: 480;
        margin-left:4%;
    }

    .ab{
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ac{       
        height:600px;
        width:120%;
        margin-left:20%;
    }

    .ad{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }


    .af{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .ag{        
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .ah{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .ai{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }

    .aj{
        height:360px;
        width:153.5%;
        margin-left:4%;
    }


}






