*{
   margin: 0; 
}


body{
   background: linear-gradient(black,#222);
   height: 4500px;
}

a{
   text-decoration:none;
}

.u{
   background-color: red;
   color: white;
   font-size: xx-large;
   height: 150px;
   padding-top: 20px;
   margin-bottom: 40px;
   text-align: right;
   padding-right: 10px;
   line-height:35px;
}


.a{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 600px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 50px;
}

.ab{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

.b{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 600px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
}

.bb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}


 .c{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 600px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .cb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }

/*

 .d{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 700px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .db{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }


 .e{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 700px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

.eb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

 .f{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 700px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

.fb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

 .g{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 700px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .gb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }

 .h{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 700px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

.hb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

 .i{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 700px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .ib{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }

 .j{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 700px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .jb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }
*/
  
  
  @media screen and (max-width:500px){
   
   .u{
      font-size: 23px;
      padding-top: 10px;
      line-height:20px;
      height:130px ;
   }
   
   .sss{
      font-size: 20px;
      line-height:30px;
   }

   .a{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
      margin-top: 30px;
   }

   .ab{
      margin-top: 300px;
   }


   .b{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .bb{
      margin-top: 300px;
   }

   .c{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .cb{
      margin-top: 300px;
   }



   .d{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .db{
      margin-top: 300px;
   }

   .e{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .eb{
      margin-top: 300px;
   }

   .f{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .fb{
      margin-top: 300px;
   }

   .g{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .gb{
      margin-top: 300px;
   }

   .h{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .hb{
      margin-top: 300px;
   }

   .i{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .ib{
      margin-top: 300px;
   }

   .j{
      width: 96%;
      height: 750px;
      background-size: 100% 300px;
      background-position: top;
   }

   .jb{
      margin-top: 300px;
   }
}




@media screen and (max-width:800px) and (min-width:550px){
   
   .u{
      font-size: 25px;
      padding-top: 10px;
      line-height:20px;
      height:110px ;
   }
   
   .sss{
      font-size: 23px;
      line-height:30px;
   }

   .a{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
   }

   .ab{
      margin-top:460px;
   }


   .b{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .bb{
      margin-top:460px;
   }

   .c{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .cb{
      margin-top:460px;
   }



   .d{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .db{
      margin-top:460px;
   }

   .e{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .eb{
      margin-top:460px;
   }

   .f{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .fb{
      margin-top:460px;
   }

   .g{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .gb{
      margin-top:460px;
   }

   .h{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .hb{
      margin-top:460px;
   }

   .i{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .ib{
      margin-top:460px;
   }

   .j{
      width: 96%;
      height: 830px;
      background-size: 100% 450px;
      background-position: top;
      margin-top:40px ;
   }

   .jb{
      margin-top:460px;
   }
}


@media screen and (max-width:1100px) and (min-width:900px){

   .ab{
      font-size: 30px;
   }

   
   .bb{
      font-size: 30px;
   }

   .cb{
      font-size: 30px;
   }

   .db{
      font-size: 30px;
   }

   .eb{
      font-size: 30px;
   }

   .fb{
      font-size: 30px;
   }

   .gb{
      font-size: 30px;
   }

   .hb{
      font-size: 30px;
   }

   .ib{
      font-size: 30px;
   }

   .jb{
      font-size: 30px;
   }
}
