*{
   margin: 0; 
}


body{
   background: linear-gradient(black,#222);
   height: 4500px;
}

a{
   text-decoration:none;
}

.u{
   background-color: red;
   color: white;
   font-size: xx-large;
   height: 150px;
   padding-top: 20px;
   margin-bottom: 40px;
   text-align: right;
   padding-right: 10px;
   line-height:35px;
}


.a{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t39.30808-6/366370175_601121832208940_6312984020008627271_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&cb=99be929b-59f725be&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=tBDlZxxIp04AX-5K0UY&_nc_ht=scontent-hbe1-1.xx&oh=00_AfDOluKcHUprYkHjznvt03Aa8WrMBBdkv2yMT11rtcrTyQ&oe=64DAF55B");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 50px;
}

.ab{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

.b{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
}

.bb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}


 .c{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .cb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }

/*

 .d{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .db{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }


 .e{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

.eb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

 .f{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

.fb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

 .g{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .gb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }

 .h{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

.hb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
}

 .i{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .ib{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }

 .j{
   width: 98%;
   height: 370px;
   border: red 5px solid;
   background-image: url("");
   background-size: 460px 100%;
   background-repeat: no-repeat;
   background-position: left;
   padding-right: 20px;
   background-color: #222;
   border-radius: 20PX;
   margin-left: 5px;
   margin-top: 30px;
 }

 .jb{
   color: red;
   font-size: xx-large;
   line-height:60px;
   text-align:right;
 }
*/
  
@media screen and (max-width:1100px){

   .a{
      background-size: 470px 100%;
   }
   
   .ab{
      font-size: 30px;
   }

   
   .bb{
      font-size: 30px;
   }

   .cb{
      font-size: 30px;
   }

   .db{
      font-size: 30px;
   }

   .eb{
      font-size: 30px;
   }

   .fb{
      font-size: 30px;
   }

   .gb{
      font-size: 30px;
   }

   .hb{
      font-size: 30px;
   }

   .ib{
      font-size: 30px;
   }

   .jb{
      font-size: 30px;
   }
}


@media screen and (max-width:800px){
   
   .u{
      font-size: 25px;
      padding-top: 10px;
      line-height:20px;
      height:110px ;
   }
   
   .sss{
      font-size: 23px;
      line-height:30px;
   }

   .a{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
   }

   .ab{
      margin-top:580px;
      line-height:65px;
   }


   .b{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .bb{
      margin-top:580px;
      line-height:65px;
   }

   .c{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .cb{
      margin-top:580px;
      line-height:65px;
   }



   .d{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .db{
      margin-top:580px;
      line-height:65px;
   }

   .e{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .eb{
      margin-top:580px;
      line-height:65px;
   }

   .f{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .fb{
      margin-top:580px;
      line-height:65px;
   }

   .g{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .gb{
      margin-top:580px;
      line-height:65px;
   }

   .h{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .hb{
      margin-top:580px;
      line-height:65px;
   }

   .i{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .ib{
      margin-top:580px;
      line-height:65px;
   }

   .j{
      width: 96%;
      height: 970px;
      background-size: 100% 570px;
      background-position: top;
      margin-top:40px ;
   }

   .jb{
      margin-top:580px;
      line-height:65px;
   }
}

  
  @media screen and (max-width:500px){
   

   .u{
      font-size: 23px;
      padding-top: 10px;
      line-height:20px;
      height:130px;
      width:95%;
      padding-right: 21px;
      
   }
   
   .sss{
      font-size: 20px;
      line-height:30px;
      margin-right: -15px;
   }

   .a{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .ab{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }


   .b{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .bb{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }

   .c{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .cb{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }



   .d{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .db{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }

   .e{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .eb{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }

   .f{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .fb{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }

   .g{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .gb{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }

   .h{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .hb{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }

   .i{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .ib{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }

   .j{
      width: 96%;
      height: 700px;
      background-size: 100% 310px;
      background-position: top;
   }

   .jb{
      margin-top: 310px;
      font-size: x-large;
      margin-right: -8px;
   }
}


@media screen and (max-width:400px){

   .a{
      background-size: 100% 280px;
      height: 665px;
   }

   .ab{
      margin-top: 280px;
      font-size: 22px;
   }

   .b{
      background-size: 100% 280px;
      height: 665px;
   }

   .bb{
      margin-top: 280px;
   }

   .c{
      background-size: 100% 280px;
      height: 665px;
   }

   .cb{
      margin-top: 280px;
   }

   .d{
      background-size: 100% 280px;
      height: 665px;
   }

   .db{
      margin-top: 280px;
   }

   .e{
      background-size: 100% 280px;
      height: 665px;
   }

   .eb{
      margin-top: 280px;
   }

   .f{
      background-size: 100% 280px;
      height: 665px;
   }

   .fb{
      margin-top: 280px;
   }

   .g{
      background-size: 100% 280px;
      height: 665px;
   }

   .fb{
      margin-top: 280px;
   }

   .h{
      background-size: 100% 280px;
      height: 665px;
   }

   .hb{
      margin-top: 280px;
   }

   .i{
      background-size: 100% 280px;
      height: 665px;
   }

   .ib{
      margin-top: 280px;
   }

   .j{
      background-size: 100% 280px;
      height: 665px;
   }

   .jb{
      margin-top: 280px;
   }
}


@media screen and (max-width:350px){

   .a{
      background-size: 100% 240px;
      height: 590px;
   }

   .ab{
      line-height:55px;
      margin-top: 240px;
   }

   .b{
      background-size: 100% 240px;
      height: 590px;
   }

   .bb{
      line-height:55px;
      margin-top: 240px;
   }

   .c{
      background-size: 100% 240px;
      height: 590px;
   }

   .cb{
      line-height:55px;
      margin-top: 240px;
   }

   .d{
      background-size: 100% 240px;
      height: 590px;
   }

   .db{
      line-height:55px;
      margin-top: 240px;
   }

   .e{
      background-size: 100% 240px;
      height: 590px;
   }

   .eb{
      line-height:55px;
      margin-top: 240px;
   }

   .f{
      background-size: 100% 240px;
      height: 590px;
   }

   .fb{
      line-height:55px;
      margin-top: 240px;
   }

   .g{
      background-size: 100% 240px;
      height: 590px;
   }

   .gb{
      line-height:55px;
      margin-top: 240px;
   }

   .h{
      background-size: 100% 240px;
      height: 590px;
   }

   .hb{
      line-height:55px;
      margin-top: 240px;
   }

   .i{
      background-size: 100% 240px;
      height: 590px;
   }

   .ib{
      line-height:55px;
      margin-top: 240px;
   }

   .j{
      background-size: 100% 240px;
      height: 590px;
   }

   .jb{
      line-height:55px;
      margin-top: 240px;
   }
}
