*{
    margin: 0;
    padding: 0;
    
}

body{
    background: linear-gradient(black,#222);
}



.م{
    color: red;
    width: 100px;
    height: 100%;
    border: 5px red solid;
}

.ث{
    color: red;
    text-align: center;
    font-size:50px;
}

label{
    color:brown ;
    font-size: x-large;
}

.a{
    background-color: red;
    height: 150px;
    padding-top: 20px;
    margin-bottom: 50px;
    background-image: url("Screenshot 2023-07-17 181416.png");
    background-size: 800px 100%;
    background-repeat: no-repeat;
    background-position: center ;
}

.www{
    margin-left: 25%;
    
}

div{
    margin-bottom: 100px;
}



.b{
    border: 5px red solid;
    width: 65%;
    height: 600px;
    background-image: url("");
    background-size: 100% 100%;
}

.c{
    border: 5px red solid;
    width: 65%;
    height: 500px;
    background-image: url("");
    background-size: 100% 100%;
}

/*
.d{
    border: 5px red solid;
    width: 65%;
    height: 500px;
    background-image: url("");
    background-size: 100% 100%;
}

.e{
    border: 5px red solid;
    width: 65%;
    height: 500px;
    background-image: url("");
    background-size: 100% 100%;
}

.f{
    border: 5px red solid;
    width: 65%;
    height: 500px;
    background-image: url("");
    background-size: 100% 100%;
}

.g{
    border: 5px red solid;
    width: 65%;
    height: 500px;
    background-image: url("");
    background-size: 100% 100%;
}

.g{
    border: 5px red solid;
    width: 65%;
    height: 500px;
    background-image: url("");
    background-size: 100% 100%;
}

.h{
    border: 5px red solid;
    width: 65%;
    height: 500px;
    background-image: url("");
    background-size: 100% 100%;
}

*/

@media screen and (max-width:1100px){

    .a{
        background-size: 650px 100%;
    }

    .www{
        margin-left: 15%;
    }

    .b{
        height: 500px;
        width:85% ;
    }

    .c{
        height: 500px;
        width:85% ;
    }
    
    
    .d{
        height: 500px;
        width:85% ;
    }
    
    .e{
        height: 500px;
        width:85% ;
    }
    
    .f{
        height: 500px;
        width:85% ;
    }
    
    .g{
        height: 500px;
        width:85% ;
    }
    
    .g{
        height: 500px;
        width:85% ;
    }
    
    .h{
        height: 500px;
        width:85% ;
    }
}

@media screen and (max-width:800px){

    .www{
        margin-left: 10%;
    }
    
    .b{
        height: 450px;
        width:90% ;
    }

    
    .c{
        height: 450px;
        width:90% ;
    }
    
    
    .d{
        height: 450px;
        width:90% ;
    }
    
    .e{
        height: 450px;
        width:90% ;
    }
    
    .f{
        height: 450px;
        width:90% ;
    }
    
    .g{
        height: 450px;
        width:90% ;
    }
    
    .g{
        height: 450px;
        width:90% ;
    }
    
    .h{
        height: 450px;
        width:90% ;
    }
}

@media screen and (max-width:500px) {
    
    .ث{
        font-size: 35px;
    }
    
    .www{
        margin-left: 5%;
    }

    .a{
        height: 130px;
        margin-bottom: 30px;
        background-size: 10px 100%;
    }
    
    div{
        margin-bottom: 40px;
    }

    .b{
        height:300px ;
        width:94% ;
    }

    .c{
        height:300px ;
        width:94% ;
    }
    
    
    .d{
       height:300px ;
        width:94% ;
    }
    
    .e{
        height:300px ;
        width:94% ;
    }
    
    .f{
        height:300px ;
        width:94% ;
    }
    
    .g{
        height:300px ;
        width:94% ;
    }
    
    .g{
        height:300px ;
        width:94% ;
    }
    
    .h{
        height:300px ;
        width:94% ;
    }
}


@media screen and (max-width:400px){
    .a{
        background-size: 200px 100%;
    }

    .ث{
        font-size: 30px;
    }

}

@media screen and (max-width:350px){
    .a{
        background-size: 340px 100%;
    }

    .ث{
        font-size: 27px;
    }
}
